<form [formGroup]="profileForm">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="firstName" formControlName="firstname">
        <div *ngIf="!firstNameValid">not a valid name</div>
        <label for="firstName">firstName</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="lastName" formControlName="lastname">
        <div *ngIf="!lastNameValid">not a valid name</div>
        <label for="lastName">lastName</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="age" formControlName="age">
        <div *ngIf="!ageValid">not a valid age</div>
        <label for="age">Age</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="phone" formControlName="phone">
        <div *ngIf="!phoneValid">not a valid phone</div>
        <label for="phone">Phone</label>
      </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" formControlName="email">
        <div *ngIf="!emailValid">not a valid email</div>
        <label for="email">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="city" formControlName="city">
        <div *ngIf="!cityValid">not a valid city</div>
        <label for="city">City</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="street" formControlName="street">
        <div *ngIf="!streetValid">not a valid street</div>
        <label for="street">Street</label>
      </div>
</form>
